/* Variable Styles */
:root {
  --white-color: #ffffff;
  --yellow-color: #fce138;
  --blue-color: #024e76;
  --lightpurple-color: #7c4f91;
  --purple-color: #572175;
  --darkestpurple-color: #350a5b;
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* Body Styles */
body {
  color: var(--white-color);         
  background-color: var(--purple-color);    
  font-family: Helvetica, Arial, sans-serif;
}

/* Header Styles */
header {
  padding: 20px 35px;
  background-color: var(--darkestpurple-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky; /*always put vender-prefixed versions first */
  position: sticky;
  top: 0;
  /* background-image: url("../images/hero-bg.jpg"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight:bold;
  font-size:36px;
  color:var(--yellow-color);
  margin:0;
  text-shadow: 0 0 10px rgba(248, 89, 200, 0.5);
}

h3 {
  padding-right: 10px;
}

header a {
  color:var(--white-color);
  text-decoration: none;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--purple-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
